@import './mapcolors.less';
@import './fonts.less';

body {
    font-family: @fontPrincipal;
    font-weight: bold;
    background-color: #colors[bodyColors];
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

header {
    padding-top: 50px;
    padding-bottom: 25px;

    img {
        width: 90vh;
    }
}

#snake {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
h4 {
    padding-bottom: 15px;
    color: #colors[textColors];
    font-weight: bold;
}

footer {
    h2 {
        padding-top: 15px;

    }
}

.modal-title {
    color: #colors[tituloModalColors];
    font-weight: bold;
}

#controls {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    /* Duas colunas */
    grid-gap: 10px;
    /* Espaço entre os botões */
    justify-items: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */

    button {
        width: 50px;
        /* Largura dos botões */
        height: 50px;
        /* Altura dos botões */
        font-size: 20px;
        /* Tamanho do texto dentro dos botões */
    }
}